/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.detail {
  
    background: rgba(0, 0, 0, 0.6);
    padding: 0 120px;
    margin-left: 20vw;
    max-width: 1150px;
    color: #ccc;
}

a {
    text-decoration: none;
    color: #2479cc;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
    /* modified by smallpath */
    border-left: 5px solid #61aeee;
}

.hljs-comment {
    color: #61aeee;
}

.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}


blockquote {
    background:  rgba(0, 0, 0, 0.5);
    border-left: 5px solid #ccc;
    margin: 1em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

#toc {
    float: right;
    margin: 20px;
    padding: 5px 10px;
    max-width: 260px;
    font-size: 14px;
    border: 1px solid #e2e2e2;
}



#toc .toc-title {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}

#toc h3,
#toc h4,
#toc h5,
#toc h6 {
    margin: 0;
    font-weight: normal;
}

ul{
    margin: 0 .5em 0 1.5em;
    line-height: 1.67
}
p{
    line-height: 1.67  
}