.popups {
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba(37, 37, 37, 0.5);
    height: 350px;
    width: 350px;
    /* transform: translate(-50%,-50%); */
    transform: translateX(-50%) translateY(-50%);
    
}

.popupsContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    
}

.popupsImg {
    height: 90px;
    width: 90px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50px;
}

.popupsName {
    color: #000;
    font-size: 25px;
    margin: 10px;
    color: #fff;
}

.popupsSynopsis {
    /* 简介 */
    width: 140px;
    margin-top: 20px;
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #fff;
}

.popupsX {
    position: absolute;
    right: 0;
    top: -5px;
    text-decoration: none;
    color: #ccc;
    font-size: 25px;
}